.stash-interactive-tools {
  section.range-slider {
    position: relative;
    width: 100%;
    height: 35px;
    text-align: center;

    div {
      position: absolute;
      top: 0.925rem;
      --tw-translate-x: -50%;
      transform: translate(var(--tw-translate-x), var(--tw-translate-y))
        rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y))
        scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
      cursor: pointer;
      --tw-text-opacity: 1;
      color: rgb(212 212 216 / var(--tw-text-opacity));
    }
  }

  .stroke-range {
    color: var(--grey);
    opacity: 0.5;
    margin-left: 0.25em;
    font-weight: normal;
    display: block;
  }

  section.range-slider input {
    pointer-events: none;
    position: absolute;
    overflow: hidden;
    left: 0;
    width: 100%;
    outline: none;
    height: 18px;
    margin: 0;
    padding: 0;
    box-shadow: none;
  }

  section.range-slider input::-webkit-slider-thumb {
    pointer-events: all;
    position: relative;
    z-index: 1;
    outline: 0;
  }

  section.range-slider input::-moz-range-thumb {
    pointer-events: all;
    position: relative;
    z-index: 10;
    -moz-appearance: none;
    width: 9px;
  }

  section.range-slider input::-moz-range-track {
    position: relative;
    z-index: -1;
    background-color: rgba(0, 0, 0, 1);
    border: 0;
  }

  section.range-slider input:last-of-type::-moz-range-track {
    -moz-appearance: none;
    background: none transparent;
    border: 0;
  }

  section.range-slider input[type='range']::-moz-focus-outer {
    border: 0;
  }
}

.scene-interactive-status + .scrubber-wrapper {
  .scrubber-heatmap {
    background-image: var(--stash-interactive-tools-heatmap) !important;
  }
}
